
 .card{
    display:flex;
     /* border:2px red; */
     background-color:pink;
     padding:10px;
     margin-left:100px;
     margin-right:60px;
     border-radius:5px;
     /* border:initial; */
     /* box-shadow: 4px 4px  6px 8px rgba(245,245,245,0.5); */
} 

/* .p1{
    margin-left:px;
} */
.p2{
    margin-left:20px;
}

/* .card {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1); /* Increase the scale for the zoom effect *
  } */

/* .card {
    transform: scale(1.1); /* Increase the scale for the zoom effect 
    transition: transform 0.3s ease-in-out;
} */
  